
#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
  min-height: 400px;
}
/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

input {
  color: black;
}

.form-fields {
  padding-bottom: 10px;
}

.field-label {
  width: 75px;
}
