body {
  background-image: url('./library.jpg');
  color: white;
}

.container {
  padding: 0;
  width: 800px;
}
.header {
  margin: 0 auto;
  font-size: 36px;
  width: 100%;
  text-align: center;
  color: white;
}

.subheader {
  background-color: #776666;
  opacity: 0.9;
  color : white;
  padding: 20px;
  text-align: center;
}
#exTab1 {
  margin-top: 80px;
}
#exTab1 .tab-content {
  color : white;
  background-color: #776666;
  padding : 5px 15px;
  min-height: 400px;
  opacity: 0.9;
}
/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
  color: white;
}
#exTab1 .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #776666;
  color: white;
}

.nav>li>a:hover {
    text-decoration: none;
    background-color: #776666;
}
input {
  color: black;
}

.form-fields {
  padding-bottom: 10px;
}

.field-label {
  width: 75px;
}

.required {
  color: red;
}

.currentBranch {
}
